.*.swp
.*.un~

.ruby-version
.ruby-gemset

node_modules/
platforms/browser/www/
platforms/browser/config.xml
platforms/browser/browser.json
platforms/android/CordovaLib/build/
platforms/android/app/build/
platforms/android/app/src/main/assets/
platforms/android/.gradle/

