.*.swp
.*.un~

.ruby-version
.ruby-gemset

node_modules/
platforms/android/.gradle/
platforms/android/android.json
platforms/android/CordovaLib/build/
platforms/android/app/build/
platforms/android/app/src/
platforms/browser/browser.json
platforms/browser/config.xml
platforms/browser/www/
www/js/index.js

