<?xml version='1.0' encoding='utf-8'?>
<widget id="net.iqeo.cordova-opal-webpack-template" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Cordova/Opal/Webpack Template</name>
  <description>Cordova/Opal/Webpack Template</description>
  <author email="dev@iqeo.net" href="http://iqeo.net">Iqeo</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <hook src="scripts/before_prepare.js" type="before_prepare" />
  <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
  <engine name="browser" spec="^5.0.4" />
</widget>
