<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="stylesheet" type="text/css" href="css/onsen-css-components.css">
        <link rel="stylesheet" type="text/css" href="css/onsenui.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/tuner.css">

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/onsenui.js"></script>
        <script type="text/javascript" src="js/material_in_browser.js"></script>
        <script type="text/javascript" src="js/vue-onsenui.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <title>Tuner</title>
    </head>

    <body>

      <!--
      TODO: center mic icon in fab
      TODO: larger font for pitch and cents
      TODO: color note for detune red:yellow:green ? +blue ?
      TODO: breakpoints for detune note color
      TODO: detune visual scale indicator - needle ?
      TODO: detune lock-in when close enough ?
      -->

      <script charset="utf-8" type="text/x-template" id="note-template">
        <v-ons-card class="note-container">
          <div>
            <span id="note">{{ note == "" ? "--" : note }}</span>
          </div>
          <div>
            <span id="cents">{{ Math.abs(cents) }} cents </span><span v-if="cents < 0">&#9837;</span><span v-if="cents > 0">&#9839;</span>
          </div>
        </v-ons-card>
      </script>

      <script charset="utf-8" type="text/x-template" id="frequency-template">
        <v-ons-card class="freq-container">
          <v-ons-row>
            <v-ons-col width="100%">
              <span id="freq">{{ freq.toFixed(2) }} Hz</span>
            </v-ons-col>
          </v-ons-row>
        </v-ons-card>
      </script>

      <script charset="utf-8" type="text/x-template" id="freq-graph-template">
        <v-ons-card>
          <v-ons-row>
            <v-ons-col width="100%">
                <svg xmlns="http://www.w3.org/2000/svg" v-bind:viewBox="viewbox"> 
                <rect fill="#303030" x=0 y=0 width=100% height=100% />
                <line v-for="line in grid"
                  v-bind:x1="line.x" y1=0
                  v-bind:x2="line.x" y2=256
                  stroke="#FF8080" />
                <text v-for="line in grid"
                  v-bind:x="line.x+2" y=253
                  stroke="#FF8080"
                  style="font-family:sans-serif;font-weight:100;font-size:larger;">{{line.freq}}</text>
                <polyline
                  fill="none"
                  stroke="#FFFF80"
                  v-bind:points="points" />
                <line v-if="rate != 0"
                  v-bind:x1="indicator.x" y1=0
                  v-bind:x2="indicator.x" y2=256
                  stroke="#40FF40" />
                <text v-if="rate != 0"
                  v-bind:x="indicator.x+2" y=10
                  stroke="#40FF40"
                  style="font-family:sans-serif;font-weight:100;font-size:larger;">{{indicator.freq}}Hz</text>
              </svg>
            </v-ons-col>
          </v-ons-row>
        </v-ons-card>
      </script>

      <!-- <script charset="utf-8" type="text/x-template" id="thing-template"> -->
      <!--   <div> -->
      <!--   <h2>{{ whoami }} : {{ count }} x {{ other }} = {{ calc }}</h2> -->
      <!--   <button v-on:click="other += 1">Inc. other</button> -->
      <!--   </div> -->
      <!-- </script> -->

      <div id="app" class="invisible">
        <v-ons-page>

          <v-ons-toolbar>
            <div class="center">Tuner</div>
          </v-ons-toolbar>

          <div id="detector" v-bind:class="( !listening || freq == 0 ) ? 'unknown' : 'known' ">

            <freq-graph
              v-bind:freq      = "freq"
              v-bind:rate      = "rate"
              v-bind:freq_data = "freq_data_pre" >
            </freq-graph>

            <freq-graph
              v-bind:freq      = "freq"
              v-bind:rate      = "rate"
              v-bind:freq_data = "freq_data_post" >
            </freq-graph>

            <!-- <div> -->
            <!--   <thing v-bind:count="count1" ></thing> -->
            <!--   <thing v-bind:count="count2" ></thing> -->
            <!-- </div> -->
            <!-- <div> -->
            <!--   <button v-on:click="count1 += 1">Inc. count1</button> -->
            <!-- </div> -->
            <!-- <div> -->
            <!--   <button v-on:click="count2 += 1">Inc. count2</button> -->
            <!-- </div> -->

            <frequency
              v-bind:freq = "freq" >
            </frequency>

            <note
              v-bind:note  = "note"
              v-bind:cents = "cents" >
            </note>

          </div>

          <v-ons-row>
            <v-ons-fab id="mic"
              position="bottom center"
              v-on:click="toggle_listening"
              v-bind:style="listening ? 'background-color:red' : 'background-color:green'">
              <v-ons-icon v-bind:icon="listening ? 'md-mic' : 'md-mic-off'"></v-ons-icon>
            </v-ons-fab>
          </v-ons-row>

        </v-ons-page>
      </div>

    </body>
</html>
