<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="stylesheet" type="text/css" href="css/onsen-css-components.css">
        <link rel="stylesheet" type="text/css" href="css/onsenui.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/tuner.css">

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/onsenui.js"></script>
        <script type="text/javascript" src="js/material_in_browser.js"></script>
        <script type="text/javascript" src="js/vue-onsenui.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <title>Tuner</title>
    </head>

    <body>

      <div id="app" class="invisible">
        <v-ons-page>

          <v-ons-toolbar>
            <div class="center">Tuner</div>
          </v-ons-toolbar>

            <div id="detector" v-bind:class="( !listening || pitch == 0 ) ? 'vague' : 'confident' ">
              <v-ons-row>
                <v-ons-col width="100%">
                  <span id="pitch">{{ Math.round(pitch) }}</span> Hz
                </v-ons-col>
              </v-ons-row>
              <v-ons-row>
                <v-ons-col width="100%" id="note-box">
                  <span id="note">{{ note }}</span>
                </v-ons-col>
              </v-ons-row>
              <v-ons-row>
                <v-ons-col width="100%">
                  <div id="detune">
                    <span>{{ Math.abs(detune) }} cents </span><span v-if="detune < 0">&#9837;</span><span v-if="detune > 0">&#9839;</span>
                  </div>
                </v-ons-col>
              </v-ons-row>
            </div>
            <v-ons-row>
              <v-ons-fab id="mic"
                position="bottom center"
                v-on:click="toggle_listening"
                v-bind:style="listening ? 'background-color:red' : 'background-color:red'">
                <v-ons-icon 
                  size="lg"
                  v-bind:icon="listening ? 'md-mic' : 'md-mic-off'">
                </v-ons-icon>
              </v-ons-fab>
            </v-ons-row>

        </v-ons-page>
      </div>

      <!-- <script type="text/javascript" src="js/tuner.js"></script> -->
    </body>
</html>
