body {
    background-color: #FFFFFF;
    font-family: arial, sans-serif;
    font-size:12px;
}

#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.icon {
  width: auto;
  height: 15vw;
  min-height: 100px;
  margin: 0.5rem;
}

h1 {
  font-size:24px;
  font-weight:normal;
  text-align:center;
}

#deviceready {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  font-size:12px;
  border-radius: 1rem;
  color: #FFFFFF;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.event.listening {
  background-color:#333333;
  display: block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

.event.make-visible {
  display:block !important;
}

.event.make-invisible {
  display:none !important;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
}
