.note-container {
  text-align: center;
}

.freq-container {
  text-align: center;
}

#note {
  font-size: 50vw;
}

#cents {
  font-size: larger;
}

#freq {
  font-size: larger;
}

#mic {
  color: white;
}

div.known {
  color: black;
}

div.unknown {
  color: lightgrey;
}

